{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Inventario</h2>

  <a href="{% url 'staff:producto_create' %}" class="btn">
      Crear producto
  </a>

  {% if object_list %}
  <table>
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Coste</th>
              <th>Stock</th>
              <th>Estado</th>
          </tr>
      </thead>
      <tbody>
      {% for producto in object_list %}
      <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio|floatformat:2 }}€</td>
          <td>{{ producto.coste|floatformat:2 }}€</td>
          <td>{{ producto.stock }}</td>
          <td>
            {% if producto.activo %}
              Activo
            {% else %}
              No activo
            {% endif %}
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  {% else %}
    <p>No hay productos para la empresa seleccionada.</p>
  {% endif %}

</div>

{% endblock %}
