{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ChefQuest</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icono.png' %}">
    {% block extra_css %}{% endblock %}
</head>

<body class="{{ request.COOKIES.tema }}">

<header>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'clientes:mis_reservas' %}">Mis reservas</a>
    <a href="{% url 'staff:producto_list' %}">Inventario</a>
    <a href="{% url 'staff:estadisticas' %}">Estadísticas</a>

    <span style="float:right;">

        {% if request.user.is_authenticated %}
            <span>Hola, {{ request.user.username }} | </span>
            <a href="{% url 'clientes:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'clientes:login' %}">Inicio de Sesión</a>
            <a href="{% url 'clientes:registro' %}">Registro</a>
        {% endif %}

        &nbsp; | &nbsp;

        {% if request.COOKIES.tema == "oscuro" %}
            <a href="{% url 'cambiar_tema' %}?tema=claro">☀ Claro</a>
        {% elif request.COOKIES.tema == "claro" %}
            <a href="{% url 'cambiar_tema' %}?tema=oscuro">🌙 Oscuro</a>
        {% else %}
            <!-- Si no hay cookie aún, muestra ambos o el que prefieras -->
            <a href="{% url 'cambiar_tema' %}?tema=oscuro">🌙 Oscuro</a>
            <a href="{% url 'cambiar_tema' %}?tema=claro">☀ Claro</a>
        {% endif %}

    </span>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
