{% extends "base.html" %}
{% block content %}

<div class="card">
<h2>Mis Reservas</h2>

<a href="{% url 'reserva_create' %}" class="btn">Nueva reserva</a>

<table>
    <tr>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>

    {% for reserva in object_list %}
    <tr>
        <td>{{ reserva.get_tipo_display }}</td>
        <td>{{ reserva.fecha }}</td>
        <td>
            <span class="badge {{ reserva.estado|lower }}">
                {{ reserva.get_estado_display }}
            </span>
        </td>
        <td>
            <a class="btn" href="{% url 'reserva_detail' reserva.pk %}">
                Ver
            </a>

            {% if reserva.estado != "CANCELADO" %}
            <a class="btn btn-danger"
               href="{% url 'cancelar_reserva' reserva.pk %}">
                Cancelar
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}