{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>Crear cuenta</h2>

    <form method="post">
        {% csrf_token %}

        <h3>Datos de usuario</h3>

        {{ form.non_field_errors }}

        <label>Username</label>
        {{ form.username }}

        <label>Email</label>
        {{ form.email }}

        <label>Nombre visible</label>
        {{ form.nombre_visible }}

        <label>Teléfono</label>
        {{ form.telefono }}

        <label>Contraseña</label>
        {{ form.password1 }}

        <label>Confirmar contraseña</label>
        {{ form.password2 }}
        <div class="mb-3">
    {{ form.es_empresa.label_tag }}
    {{ form.es_empresa }}
</div>

<div class="mb-3">
    {{ form.nombre_empresa.label_tag }}
    {{ form.nombre_empresa }}
</div>
        <hr>

        <h3>Perfil</h3>

        {{ perfil_form.non_field_errors }}

        <label>Preferencias de comunicación</label>
        {{ perfil_form.preferencias_de_comunicacion }}

        <label>Dirección habitual</label>
        {{ perfil_form.direccion }}

        <label>Observaciones</label>
        {{ perfil_form.observacion }}

        <button type="submit">Registrarse</button>
    </form>

    <p style="margin-top:15px;">
        ¿Ya tienes cuenta?
        <a href="{% url 'clientes:login' %}" class="btn">Iniciar sesión</a>
    </p>

</div>

{% endblock %}